<!DOCTYPE html>

<html>

<head>
    <title>{% block title %}  {% endblock %}</title>
</head>

<body>
    <header>
        <h1>Meu Blog com Django</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>
