{% extends "blog/base.html" %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <p class="date">
        Publicado em {{ post.created }} por {{ post.author }}
    </p>
    {{ post.body|linebreaks }}
{% endblock %}