{% extends "blog/base.html" %}

{% block title %}
Meu Blog
{% endblock %}

{% block content %}
    {% for post in post_list %}
        <article>
            <h2>
                <a href="{{ post.get_absolute_url }}"> {{ post.title }} </a>
            </h2>
            <p class="date">
                Publicado em {{ post.created }} por {{ post.author }}
            </p>
            {{ post.body|linebreaks|truncatewords:10 }}
        </article>
    {% endfor %}
{% endblock %}